<a href="https://colab.research.google.com/github/Christinee25/PythonDQlab_Belajar-Mandiri/blob/main/Belajar_python_dqlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Membaca file hello.txt dengan fungsi read()
print(">>> Membaca file hello.txt dengan fungsi read()")
file = open("hello.txt", "r")
content = file.read()
file.close()
print(content)

>>> Membaca file hello.txt dengan fungsi read()
Kita sedang belajar Python
Tepatnya belajar memanipulasi berkas teks
Memanipulasi berkas dengan Python sangatlah mudah!

In [ ]:
# Membaca file hello.txt dengan fungsi readline()
print(">>> Membaca file hello.txt dengan fungsi readline()")
file = open("hello.txt", "r")

In [ ]:
# Menulis ke file hello.txt
  file = open("hello.txt", "w")
  file.write(["Sekarang kita belajar menulis dengan menggunakan Python"])
  file.write(["Menulis konten file dengan mode w (write)."])
  file.close()
  file = open("hello.txt","r")

IndentationError: unexpected indent (<ipython-input-30-28b415cbd32d>, line 2)

In [ ]:
        file = open("hello.txt", "a")
        file.writelines([
        "Sekarang kita belajar menulis dengan menggunakan Python",
        "Menulis konten file dengan mode a (append)."
        ])
        file.close()

In [ ]:
file = open("hello.txt","w")
file.writelines(["Halo\n", "Belajar Python\n", "Menyenangkan!\n"])
file.close()
file = open("hello.txt","r")
for line in file:
    print(line)

Halo

Belajar Python

Menyenangkan!

In [ ]:
file = open("hello.txt","w")
file.writelines(["Halo", "Belajar Python", "Menyenangkan!"])
file.close()
file = open("hello.txt","w")
file.writelines(["Menulis ke dalam file\n"])
file.writelines(["menggunakan Python"])
file = open("hello.txt","r")
for line in file:
    print(line)

Menulis ke dalam file

menggunakan Python

In [ ]:
import math
x = [2.22,-3.33,4.44,-5.55]
total = 0
for i in x:
    total += math.ceil(i)
print(total)

16.0

In [ ]:
my_list = [1, 10.9, "Robotik", 'c']
print(my_list, type(my_list))
print(my_list[1])

my_list[2] = "Indonesia"
print(my_list)

my_list.append("RobotikID")
print(my_list)

my_list.remove('c')
print(my_list)

my_list.pop(1)
print(my_list)

panjang = len(my_list)
print(panjang)

print(my_list.index("RobotikID"))

[1, 10.9, 'Robotik', 'c'] <class 'list'>
10.9
[1, 10.9, 'Indonesia', 'c']
[1, 10.9, 'Indonesia', 'c', 'RobotikID']
[1, 10.9, 'Indonesia', 'RobotikID']
[1, 'Indonesia', 'RobotikID']
3
2

In [ ]:
my_tuple = (1, 10.9, "Robotik", 'c')
print(my_tuple, type(my_tuple))

print(my_tuple[1])
print(my_tuple[1:3])

## my_tuple[1] = 10
## print(my_tuple)
## nb: akan error karna tuple tidak dapat diubah

print(my_tuple.index('c'))

(1, 10.9, 'Robotik', 'c') <class 'tuple'>
10.9
(10.9, 'Robotik')
3

In [ ]:
my_set = {1, 10.9, "RobotikID", 'c'}
print(my_set, type(my_set))

my_set.add(10)
print(my_set)

my_set.add("Indonesia")
print(my_set)

my_set.remove(1)
print(my_set)

my_set.add("Indonesia")
print(my_set)

## nb: set tidak punya index (tidak ada order data ke-i)
##     set nilainya unik, nilai data yg sama tidak akan tertambahkan/ tidak ada data duplikat

{1, 10.9, 'c', 'RobotikID'} <class 'set'>
{1, 10.9, 10, 'c', 'RobotikID'}
{1, 'Indonesia', 10.9, 10, 'c', 'RobotikID'}
{'Indonesia', 10.9, 10, 'c', 'RobotikID'}
{'Indonesia', 10.9, 10, 'c', 'RobotikID'}

In [ ]:
my_dict = {
    "key": "value"
}
print(my_dict, type(my_dict))

my_dict["nama"] = "Robotik ID"
my_dict["alamat"] = "Indonesia"
my_dict["usia"] = 7
print(my_dict)

print(my_dict["nama"])
print(my_dict.keys(), my_dict.values())

my_dict.pop("key")
print(my_dict)
print(len(my_dict))

{'key': 'value'} <class 'dict'>
{'key': 'value', 'nama': 'Robotik ID', 'alamat': 'Indonesia', 'usia': 7}
Robotik ID
dict_keys(['key', 'nama', 'alamat', 'usia']) dict_values(['value', 'Robotik ID', 'Indonesia', 7])
{'nama': 'Robotik ID', 'alamat': 'Indonesia', 'usia': 7}
3

In [ ]:
import requests
from contextlib import closing
import csv
# STEP 1:
# Baca file "harga_rumah.txt"
url = "https://storage.googleapis.com/dqlab-dataset/harga_rumah.txt"
data_harga_rumah = []
with closing(requests.get(url, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    data_harga_rumah = [row for row in csv.reader(f)]
print(data_harga_rumah)
# Buat list of dict dengan nama harga rumah
key_harga_rumah = data_harga_rumah[0]
harga_rumah = []
for baris_harga_rumah in harga_rumah[1:]:
	dict_harga_rumah = dict()
	for i in range(len(harga_rumah)):
		dict_harga_rumah[key_harga_rumah[i]] = data_harga_rumah[i]
	harga_rumah.append(harga_rumah)
print(harga_rumah)

[['tanah', 'bangunan', 'jarak_ke_pusat', 'harga'], ['70', '50', '15', '500'], ['70', '60', '30', '400'], ['70', '60', '55', '300'], ['100', '50', '30', '700'], ['100', '70', '25', '1000'], ['100', '70', '50', '650'], ['120', '100', '20', '2000'], ['120', '80', '50', '1200'], ['150', '100', '50', '1800'], ['150', '90', '15', '3000']]
[]

In [ ]:
import requests
from contextlib import closing
import csv
# STEP 1:
# Baca file "harga_rumah.txt"
url = "https://storage.googleapis.com/dqlab-dataset/harga_rumah.txt"
data_harga_rumah = []
with closing(requests.get(url, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    data_harga_rumah = [row for row in csv.reader(f)]
print(data_harga_rumah)
# Buat list of dict dengan nama harga rumah
key_harga_rumah = data_harga_rumah[0]
harga_rumah = []
for baris_harga_rumah in key_harga_rumah[1:]:
	dict_harga_rumah = dict()
	for i in range(len(harga_rumah)):
		dict_harga_rumah[key_harga_rumah[i]] = key_harga_rumah[i]
	harga_rumah.append(baris_harga_rumah)
print(harga_rumah)
print(data_harga_rumah)

[['tanah', 'bangunan', 'jarak_ke_pusat', 'harga'], ['70', '50', '15', '500'], ['70', '60', '30', '400'], ['70', '60', '55', '300'], ['100', '50', '30', '700'], ['100', '70', '25', '1000'], ['100', '70', '50', '650'], ['120', '100', '20', '2000'], ['120', '80', '50', '1200'], ['150', '100', '50', '1800'], ['150', '90', '15', '3000']]
['bangunan', 'jarak_ke_pusat', 'harga']
[['tanah', 'bangunan', 'jarak_ke_pusat', 'harga'], ['70', '50', '15', '500'], ['70', '60', '30', '400'], ['70', '60', '55', '300'], ['100', '50', '30', '700'], ['100', '70', '25', '1000'], ['100', '70', '50', '650'], ['120', '100', '20', '2000'], ['120', '80', '50', '1200'], ['150', '100', '50', '1800'], ['150', '90', '15', '3000']]

In [ ]:
import requests
from contextlib import closing
import csv
# STEP 1:
# Baca file "harga_rumah.txt"
url = "https://storage.googleapis.com/dqlab-dataset/harga_rumah.txt"
data_harga_rumah = []
with closing(requests.get(url, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    data_harga_rumah = [row for row in csv.reader(f)]
print(data_harga_rumah)
# Buat list of dict dengan nama harga rumah
key_harga_rumah = harga_rumah[0]
harga_rumah = []
for baris_harga_rumah in data_harga_rumah[1:]:
	dict_harga_rumah = dict()
	for i in range(len(key_harga_rumah)):
		dict_harga_rumah[key_harga_rumah[i]] = key_harga_rumah[i]
	harga_rumah.append(baris_harga_rumah)
print(harga_rumah)

[['tanah', 'bangunan', 'jarak_ke_pusat', 'harga'], ['70', '50', '15', '500'], ['70', '60', '30', '400'], ['70', '60', '55', '300'], ['100', '50', '30', '700'], ['100', '70', '25', '1000'], ['100', '70', '50', '650'], ['120', '100', '20', '2000'], ['120', '80', '50', '1200'], ['150', '100', '50', '1800'], ['150', '90', '15', '3000']]
[['70', '50', '15', '500'], ['70', '60', '30', '400'], ['70', '60', '55', '300'], ['100', '50', '30', '700'], ['100', '70', '25', '1000'], ['100', '70', '50', '650'], ['120', '100', '20', '2000'], ['120', '80', '50', '1200'], ['150', '100', '50', '1800'], ['150', '90', '15', '3000']]

In [ ]:
import requests
from contextlib import closing
import csv
# STEP 1:
# Baca file "harga_rumah.txt"
url = "https://storage.googleapis.com/dqlab-dataset/harga_rumah.txt"
data_harga_rumah = []
with closing(requests.get(url, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    data_harga_rumah = [row for row in csv.reader(f)]
print(data_harga_rumah)
# Buat list of dict dengan nama harga rumah
key_harga_rumah = data_harga_rumah[0]
harga_rumah = []
for baris_harga_rumah in data_harga_rumah[1:]:
	dict_harga_rumah = dict()
	for i in range(len(key_harga_rumah)):
		dict_harga_rumah[key_harga_rumah[i]] = baris_harga_rumah[i]
	harga_rumah.append(dict_harga_rumah)
print(harga_rumah)
print(data_harga_rumah)

[['tanah', 'bangunan', 'jarak_ke_pusat', 'harga'], ['70', '50', '15', '500'], ['70', '60', '30', '400'], ['70', '60', '55', '300'], ['100', '50', '30', '700'], ['100', '70', '25', '1000'], ['100', '70', '50', '650'], ['120', '100', '20', '2000'], ['120', '80', '50', '1200'], ['150', '100', '50', '1800'], ['150', '90', '15', '3000']]
[{'tanah': '70', 'bangunan': '50', 'jarak_ke_pusat': '15', 'harga': '500'}, {'tanah': '70', 'bangunan': '60', 'jarak_ke_pusat': '30', 'harga': '400'}, {'tanah': '70', 'bangunan': '60', 'jarak_ke_pusat': '55', 'harga': '300'}, {'tanah': '100', 'bangunan': '50', 'jarak_ke_pusat': '30', 'harga': '700'}, {'tanah': '100', 'bangunan': '70', 'jarak_ke_pusat': '25', 'harga': '1000'}, {'tanah': '100', 'bangunan': '70', 'jarak_ke_pusat': '50', 'harga': '650'}, {'tanah': '120', 'bangunan': '100', 'jarak_ke_pusat': '20', 'harga': '2000'}, {'tanah': '120', 'bangunan': '80', 'jarak_ke_pusat': '50', 'harga': '1200'}, {'tanah': '150', 'bangunan': '100', 'jarak_ke_pusat': '50', 'harga': '1800'}, {'tanah': '150', 'bangunan': '90', 'jarak_ke_pusat': '15', 'harga': '3000'}]
[['tanah', 'bangunan', 'jarak_ke_pusat', 'harga'], ['70', '50', '15', '500'], ['70', '60', '30', '400'], ['70', '60', '55', '300'], ['100', '50', '30', '700'], ['100', '70', '25', '1000'], ['100', '70', '50', '650'], ['120', '100', '20', '2000'], ['120', '80', '50', '1200'], ['150', '100', '50', '1800'], ['150', '90', '15', '3000']]

In [ ]:
import requests
from contextlib import closing
import csv
# STEP 1:
# Baca file "harga_rumah.txt"
url = "https://storage.googleapis.com/dqlab-dataset/harga_rumah.txt"
data_harga_rumah = []
with closing(requests.get(url, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    data_harga_rumah = [row for row in csv.reader(f)]
# Buat list of dict dengan nama harga rumah
key_harga_rumah = data_harga_rumah[0]
harga_rumah = []
for baris_harga_rumah in data_harga_rumah[1:]:
	dict_harga_rumah = dict()
	for i in range(len(key_harga_rumah)):
		dict_harga_rumah[key_harga_rumah[i]] = baris_harga_rumah[i]
	harga_rumah.append(dict_harga_rumah)
print(harga_rumah)
# STEP 2:
# Buat fungsi  get_all_specified_attribute yang menerima parameter list_of_dictionary
# (tipe data list yang berisikan sekumpulan tipe data dictionary) dan specified_key
# (tipe data string). Fungsi akan mengembalikan sebuah list yang berisikan seluruh
# atribut dengan kunci (key) specified_key.
def get_all_specified_attributes(list_of_dictionary, specified_key):
 list_attributes = []
 for data in list_of_dictionary:
  attribute = data[specified_key]
  list_attributes.append(attribute)
 return list_attributes
# STEP 3:
# Buat fungsi fungsi min_value yang menerima parameter list_attributes (berupa
# tipe data list) dan mengembalikan nilai terkecil dalam list_attributes
def min_value(list_attributes):
	min_attribute = 9999
	for attr in list_attributes:
		if int(attr) < min_attribute:
			min_attribute = int(attr)
	return min_attribute
# Buat fungsi dan max_value yang menerima parameter list_attribute dan
# mengembalikan nilai terbesar dalam list_attributes.
def max_value(list_attributes):
	max_attribute = -9999
	for attr in list_attributes:
		if int(attr) > max_attribute:
			max_attribute = int(attr)
	return max_attribute
# STEP 4:
# Buat fungsi transform_attribute yang menerima parameter attr (sebuah
# bilangan), max_attr (sebuah bilangan) dan min_attr (sebuah bilangan)
# yang mengembalikan nilai transformasi dari sebuah attribute.
def transform_attribute(attr, max_attr, min_attr):
	nilai_transformasi = (attr - min_attr) / (max_attr - min_attr)
	return nilai_transformasi
# STEP 5:
# Buat fungsi data_transformation yang menerima parameter list_of_dictionary
# (sebuah list yang berisikan tipe data dictionary) dan list_attribute_names
# (sebuah list yang berisikan tipe data string) mengembalikan hasil
# transformasi data dari list_of_dictionary berdasarkan list_attribute_names
# dan attr_info telah dispesifikasikan.
def data_transformation(list_of_dictionary, list_attribute_names):
	attr_info = {}
	for attr_name in list_attribute_names:
		specified_attributes = get_all_specified_attributes(list_of_dictionary, attr_name)
		max_attr = max_value(specified_attributes)
		min_attr = min_value(specified_attributes)
		attr_info[attr_name] = {'max': max_attr, 'min': min_attr}
		data_idx = 0
		while(data_idx < len(attr_name)):
			list_of_dictionary[data_idx][attr_name] = transform_attribute(int(list_of_dictionary[data_idx][attr_name]), max_attr, min_attr)
			data_idx += 1
	return list_of_dictionary, attr_info

[{'tanah': '70', 'bangunan': '50', 'jarak_ke_pusat': '15', 'harga': '500'}, {'tanah': '70', 'bangunan': '60', 'jarak_ke_pusat': '30', 'harga': '400'}, {'tanah': '70', 'bangunan': '60', 'jarak_ke_pusat': '55', 'harga': '300'}, {'tanah': '100', 'bangunan': '50', 'jarak_ke_pusat': '30', 'harga': '700'}, {'tanah': '100', 'bangunan': '70', 'jarak_ke_pusat': '25', 'harga': '1000'}, {'tanah': '100', 'bangunan': '70', 'jarak_ke_pusat': '50', 'harga': '650'}, {'tanah': '120', 'bangunan': '100', 'jarak_ke_pusat': '20', 'harga': '2000'}, {'tanah': '120', 'bangunan': '80', 'jarak_ke_pusat': '50', 'harga': '1200'}, {'tanah': '150', 'bangunan': '100', 'jarak_ke_pusat': '50', 'harga': '1800'}, {'tanah': '150', 'bangunan': '90', 'jarak_ke_pusat': '15', 'harga': '3000'}]

In [ ]:
bulan_pembelian = ('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
print(bulan_pembelian[:-1])

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November')

In [ ]:
set_buah1={'Jeruk', 'Apel', 'Anggur'}
set_buah2 = set_buah1
set_buah3 = set_buah1.copy()
set_buah2.add('Melon')
set_buah3.add('Kiwi')
print(set_buah1)
print(set_buah2)
print(set_buah3)

{'Melon', 'Jeruk', 'Apel', 'Anggur'}
{'Melon', 'Jeruk', 'Apel', 'Anggur'}
{'Kiwi', 'Jeruk', 'Apel', 'Anggur'}

In [ ]:
parcel = {'nanas','mangga','sawo','semangka','melon'}
buah = parcel.pop()
print(buah)
print(parcel)

sawo
{'nanas', 'semangka', 'mangga', 'melon'}

In [ ]:
parcel_A = {'Anggur','Apel','Jeruk','Melon'}
parcel_B = {'Apel', 'Jeruk', 'Semangka','Leci'}
parcel_C = parcel_A.symmetric_difference(parcel_B)
parcel_D = parcel_B.symmetric_difference(parcel_A)
parcel_E = parcel_A.difference(parcel_B)
parcel_F = parcel_B.difference(parcel_A)
print(parcel_C)
print(parcel_D)
print(parcel_E)
print(parcel_F)

{'Melon', 'Anggur', 'Semangka', 'Leci'}
{'Melon', 'Anggur', 'Semangka', 'Leci'}
{'Melon', 'Anggur'}
{'Semangka', 'Leci'}

In [ ]:
harga = [1000, 2500, 5000, 15000, 30000]
print(harga[:-3])

[1000, 2500]

In [ ]:
set_buah1 = {'Jeruk','Apel','Anggur'}
set_buah2 = set_buah1
set_buah1.clear()
set_buah2.add('Durian')
print(set_buah1)
print(set_buah2)

{'Durian'}
{'Durian'}

In [ ]:
nama_produk ="SePatu NiKo"
print(nama_produk[:6])

SePatu

In [ ]:
frasa = "ani budi wati johan"
karakter = frasa.split("dan")
kata = frasa.split(" ")
print(karakter)
print(kata)

['ani budi wati johan']
['ani', 'budi', 'wati', 'johan']

In [ ]:
frasa = "ani budi wati johan"
karakter = frasa.split("dan")
kata = karakter.split(" ")
print(karakter)
print(kata)

AttributeError: 'list' object has no attribute 'split'

In [ ]:
frasa = "ani dan budi dan wati dan johan"
karakter = frasa.split("dan")
kata = karakter.split(" ")
print(karakter)
print(kata)

AttributeError: 'list' object has no attribute 'split'

In [ ]:
file = open("hello.txt","w")
file.writelines(["Halo\n", "Belajar Python\n", "Menyenangkan!\n"])
file.close()
file = open("hello.txt","r")
for line in file:
    print(line)

Halo

Belajar Python

Menyenangkan!

In [ ]:
import math
x = -10.32
y = 13.87
x_ceil = math.ceil(x)
y_ceil = math.ceil(y)
print(x_ceil)
print(y_ceil)

-10
14

In [ ]:
import requests
from contextlib import closing
import csv
# STEP 1:
# Baca file "harga_rumah.txt"
url = "https://storage.googleapis.com/dqlab-dataset/harga_rumah.txt"
data_harga_rumah = []
with closing(requests.get(url, stream=True)) as r:
  f = (line.decode('utf-8') for line in r.iter_lines())
  data_harga_rumah = [row for row in csv.reader(f)]
print(data_harga_rumah)
# Buat list of dict dengan nama harga rumah
key_harga_rumah = data_harga_rumah[0]
print(data_harga_rumah)
print(key_harga_rumah)
harga_rumah = []
for baris_harga_rumah in data_harga_rumah[1:]:
  dict_harga_rumah = dict()
for i in range(len(baris_harga_rumah)):
  dict_harga_rumah[key_harga_rumah[i]] = baris_harga_rumah[i]
harga_rumah.append(dict_harga_rumah)
print(harga_rumah)

# Buat fungsi  get_all_specified_attribute yang menerima parameter list_of_dictionary
# (tipe data list yang berisikan sekumpulan tipe data dictionary) dan specified_key
# (tipe data string). Fungsi akan mengembalikan sebuah list yang berisikan seluruh
# atribut dengan kunci (key) specified_key.
def get_all_specified_attributes(list_of_dictionary, specified_key):
  list_attributes = []
  for data in list_of_dictionary:
    attribute = data[specified_key]
    list_attributes.append(attribute)
  return list_attributes

# STEP 3:
# Buat fungsi fungsi min_value yang menerima parameter list_attributes (berupa
# tipe data list) dan mengembalikan nilai terkecil dalam list_attributes
def min_value(list_attributes):
  min_attribute = 9999
  for attr in list_attributes:
    if int(attr) < min_attribute:
      min_attribute = int(attr)
  return min_attribute
# Buat fungsi dan max_value yang menerima parameter list_attribute dan
# mengembalikan nilai terbesar dalam list_attributes.
def max_value(list_attributes):
  max_attribute = -9999
  for attr in list_attributes:
    if int(attr) > max_attribute:
      max_attribute = int(attr)
  return max_attribute
# STEP 4:
# Buat fungsi transform_attribute yang menerima parameter attr (sebuah
# bilangan), max_attr (sebuah bilangan) dan min_attr (sebuah bilangan)
# yang mengembalikan nilai transformasi dari sebuah attribute.
def transform_attribute(attr, max_attr, min_attr):
  nilai_transformasi = (attr - min_attr) / (max_attr - min_attr)
  return nilai_transformasi

[['tanah', 'bangunan', 'jarak_ke_pusat', 'harga'], ['70', '50', '15', '500'], ['70', '60', '30', '400'], ['70', '60', '55', '300'], ['100', '50', '30', '700'], ['100', '70', '25', '1000'], ['100', '70', '50', '650'], ['120', '100', '20', '2000'], ['120', '80', '50', '1200'], ['150', '100', '50', '1800'], ['150', '90', '15', '3000']]
[['tanah', 'bangunan', 'jarak_ke_pusat', 'harga'], ['70', '50', '15', '500'], ['70', '60', '30', '400'], ['70', '60', '55', '300'], ['100', '50', '30', '700'], ['100', '70', '25', '1000'], ['100', '70', '50', '650'], ['120', '100', '20', '2000'], ['120', '80', '50', '1200'], ['150', '100', '50', '1800'], ['150', '90', '15', '3000']]
['tanah', 'bangunan', 'jarak_ke_pusat', 'harga']
[{'tanah': '150', 'bangunan': '90', 'jarak_ke_pusat': '15', 'harga': '3000'}]

In [ ]:
import requests
from contextlib import closing
import csv
# STEP 1:
# Baca file "harga_rumah.txt"
url = "https://storage.googleapis.com/dqlab-dataset/harga_rumah.txt"
data_harga_rumah = []
with closing(requests.get(url, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())
    data_harga_rumah = [row for row in csv.reader(f)]
# Buat list of dict dengan nama harga rumah
key_harga_rumah = data_harga_rumah[0]
harga_rumah = []
for baris_harga_rumah in data_harga_rumah[1:]:
	dict_harga_rumah = dict()
	for i in range(len(baris_harga_rumah)):
		dict_harga_rumah[key_harga_rumah[i]] = baris_harga_rumah[i]
	harga_rumah.append(dict_harga_rumah)
print(harga_rumah)
# STEP 2:
# Buat fungsi  get_all_specified_attribute yang menerima parameter list_of_dictionary
# (tipe data list yang berisikan sekumpulan tipe data dictionary) dan specified_key
# (tipe data string). Fungsi akan mengembalikan sebuah list yang berisikan seluruh
# atribut dengan kunci (key) specified_key.
def get_all_specified_attributes(list_of_dictionary, specified_key):
	list_attributes = []
	for data in list_of_dictionary:
		attribute = data[specified_key]
		list_attributes.append(attribute)
	return list_attributes
# STEP 3:
# Buat fungsi fungsi min_value yang menerima parameter list_attributes (berupa
# tipe data list) dan mengembalikan nilai terkecil dalam list_attributes
def min_value(list_attributes):
	min_attribute = 9999
	for attr in list_attributes:
		if int(attr) < min_attribute:
			min_attribute = int(attr)
	return min_attribute
# Buat fungsi dan max_value yang menerima parameter list_attribute dan
# mengembalikan nilai terbesar dalam list_attributes.
def max_value(list_attributes):
	max_attribute = -9999
	for attr in list_attributes:
		if int(attr) > max_attribute:
			max_attribute = int(attr)
	return max_attribute
# STEP 4:
# Buat fungsi transform_attribute yang menerima parameter attr (sebuah
# bilangan), max_attr (sebuah bilangan) dan min_attr (sebuah bilangan)
# yang mengembalikan nilai transformasi dari sebuah attribute.
def transform_attribute(attr, max_attr, min_attr):
	nilai_transformasi = (attr - min_attr) / (max_attr - min_attr)
	return nilai_transformasi

[{'tanah': '70', 'bangunan': '50', 'jarak_ke_pusat': '15', 'harga': '500'}, {'tanah': '70', 'bangunan': '60', 'jarak_ke_pusat': '30', 'harga': '400'}, {'tanah': '70', 'bangunan': '60', 'jarak_ke_pusat': '55', 'harga': '300'}, {'tanah': '100', 'bangunan': '50', 'jarak_ke_pusat': '30', 'harga': '700'}, {'tanah': '100', 'bangunan': '70', 'jarak_ke_pusat': '25', 'harga': '1000'}, {'tanah': '100', 'bangunan': '70', 'jarak_ke_pusat': '50', 'harga': '650'}, {'tanah': '120', 'bangunan': '100', 'jarak_ke_pusat': '20', 'harga': '2000'}, {'tanah': '120', 'bangunan': '80', 'jarak_ke_pusat': '50', 'harga': '1200'}, {'tanah': '150', 'bangunan': '100', 'jarak_ke_pusat': '50', 'harga': '1800'}, {'tanah': '150', 'bangunan': '90', 'jarak_ke_pusat': '15', 'harga': '3000'}]

NameError: name 'list_of_dictionary' is not defined

In [ ]:
class Karyawan:
    def __init__(self, nama, usia, pendapatan, insentif_lembur):
        self.nama = nama
        self.usia = usia
        self.pendapatan = pendapatan
        self.pendapatan_tambahan = 0
        self.insentif_lembur = insentif_lembur
    def lembur(self):
        self.pendapatan_tambahan += self.insentif_lembur
    def tambahan_proyek(self, jumlah_tambahan):
        self.pendapatan_tambahan += jumlah_tambahan
    def total_pendapatan(self):
        return self.pendapatan + self.pendapatan_tambahan

class Perusahaan:
    def __init__(self, nama, alamat, nomor_telepon):
        self.nama = nama
        self.alamat = alamat
        self.nomor_telepon = nomor_telepon
        self.list_karyawan = []
    def aktifkan_karyawan(self, karyawan):
        self.list_karyawan.append(karyawan)
    def nonaktifkan_karyawan(self, nama_karyawan):
        karyawan_nonaktif = None
        for karyawan in self.list_karyawan:
            if karyawan.nama == nama_karyawan:
                karyawan_nonaktif = karyawan
                break
        if karyawan_nonaktif is not None:
            self.list_karyawan.remove(karyawan_nonaktif)

# Definisikan perusahaan
perusahaan = Perusahaan('ABC', 'Jl. Jendral Sudirman, Blok 11', '(021) 95205XX')
# Definisikan nama-nama karyawan
karyawan_1 = Karyawan('Ani', 25, 8500000, 100000)
karyawan_2 = Karyawan('Budi', 28, 12000000, 150000)
karyawan_3 = Karyawan('Cici', 30, 15000000, 200000)
# Aktifkan karyawan di perusahaan ABC
perusahaan.aktifkan_karyawan(karyawan_1)
perusahaan.aktifkan_karyawan(karyawan_2)
perusahaan.aktifkan_karyawan(karyawan_3)

In [ ]:
class Karyawan:
    nama_perusahaan = 'ABC'
    __insentif_lembur = 250000
    def __init__(self, nama, usia, pendapatan):
        self.__nama = nama
        self.__usia = usia
        self.__pendapatan = pendapatan
        self.__pendapatan_tambahan = 0
    def lembur(self):
        self.__pendapatan_tambahan += self.__insentif_lembur
    def tambahan_proyek(self, insentif_proyek):
        self.__pendapatan_tambahan += insentif_proyek
    def total_pendapatan(self):
        return self.__pendapatan + self.__pendapatan_tambahan

aksara = Karyawan('Aksara', 25, 8500000)

aksara.lembur()
aksara.lembur()
print(aksara.total_pendapatan())

9000000

In [ ]:
class Karyawan:
    nama_perusahaan = 'ABC'
    insentif_lembur = 250000
    def __init__(self, nama, usia, pendapatan):
        self.__nama = nama
        self.__usia = usia
        self.__pendapatan = pendapatan
        self.__pendapatan_tambahan = 0
    def lembur(self):
        self.__pendapatan_tambahan += self.insentif_lembur
        if self.__usia > 30:
          self.__pendapatan_tambahan *= 2
    def tambahan_proyek(self, insentif_proyek):
        self.__pendapatan_tambahan += insentif_proyek
    def total_pendapatan(self):
        return self.__pendapatan + self.__pendapatan_tambahan

karyawan_1 = Karyawan('Kiki', 35, 8000000)
karyawan_1.lembur()
print(karyawan_1.total_pendapatan())
karyawan_1.tambahan_proyek(karyawan_1.total_pendapatan())
print(karyawan_1.total_pendapatan())

8500000
17000000

In [ ]:
class Karyawan:
    nama_perusahaan = 'ABC'
    insentif_lembur = 250000
    def __init__(self, nama, usia, pendapatan):
        self.__nama = nama
        self.__usia = usia
        self.__pendapatan = pendapatan
        self.__pendapatan_tambahan = 0
    def lembur(self):
        self.__insentif_lembur = insentif_lembur
        if usia > 30:
            self.__insentif_lembur *= 2
        self.__pendapatan_tambahan += self.__insentif_lembur
    def tambahan_proyek(self, insentif_proyek):
        self.__pendapatan_tambahan += insentif_proyek
    def total_pendapatan(self):
        return self.__pendapatan + self.__pendapatan_tambahan

karyawan_1 = Karyawan('Kiki', 35, 8000000)
karyawan_1.insentif_lembur
karyawan_1.tambahan_proyek(karyawan_1.total_pendapatan())
print(karyawan_1.total_pendapatan())
print(karyawan_1.__insentif_lembur)
print(karyawan_1._Karyawan__pendapatan_tambahan)
print(karyawan_1._Karyawan__pendapatan)

16000000

AttributeError: 'Karyawan' object has no attribute '__insentif_lembur'

In [ ]:
class Karyawan:
    nama_perusahaan = 'ABC'
    __insentif_lembur = 250000
    def __init__(self, nama, usia, pendapatan):
        self.__nama = nama
        self.__usia = usia
        self.__pendapatan = pendapatan
        self.__pendapatan_tambahan = 0
    def lembur(self):
        self.__pendapatan_tambahan += self.__insentif_lembur
    def tambahan_proyek(self, insentif_proyek):
        self.__pendapatan_tambahan += insentif_proyek
    def total_pendapatan(self):
        return self.__pendapatan + self.__pendapatan_tambahan

aksara = Karyawan('Aksara', 25, 8500000)
aksara.lembur()
aksara.tambahan_proyek(aksara.lembur())
print(aksara.total_pendapatan())

TypeError: unsupported operand type(s) for +=: 'int' and 'NoneType'